name: Run Badgetizr on Pull Requests

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - edited
      - closed

jobs:
  badgetizr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Run Badgetizr
        uses: aiKrice/homebrew-badgetizr@267be40f597654a720ed153126bcd7aaf877dfed
        with:
          pr_id: ${{ github.event.pull_request.number }}
          configuration: .badgetizr.yml
          pr_destination_branch: ${{ github.event.pull_request.base.ref }}
          pr_build_number: ${{ github.run_id }}
          pr_build_url: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"